
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-size: 10px;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	display: flex;
	flex-wrap: wrap;
	width: 1050px;
	margin: 0 auto;
}

body {
	margin: 0 5%;
}
/* Header */

.parent-header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 95%;
	padding-top: 1%;
	margin-bottom: 5%;
}
/* Top Navigation Bar*/
.parent-header .parent-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	margin-top: 2%;
	font-size: 2.0rem;
	font-family: 'Oswald', sans-serif;
}

.parent-header .parent-nav a {
	width: 15%;
	text-decoration: none;
	color: grey;
}

.parent-header .parent-nav a:hover {
	text-decoration: underline;
}

/*Great Idea Logo*/
header img.logo {
	padding-top: 2.0%;
	margin-top: 3.5%;
}
/* Top Section */
.innovate {
	display: flex;
	justify-content: space-between;
	margin-top: 8%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-bottom:5%;
	width: 45%;
}

.innovate section {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 6.0%;
}

.innovate section h1 {
	font-size: 9rem;
	text-align: center;
}

.innovate section button{
	border: 1.10px solid black;
	background-color: white;
	color: black;
	padding: 3% 12%;
	font-size: 1.5rem;
	cursor: pointer;
}

.innovate section button:hover {
	background:black;
	color:white;
}


.container .roundCode {
	display:flex;
	width: 40%;
	height: 20%;
	margin-top: 4%;
	margin-left: 10%;
	margin-bottom: 3%;
}

.container .boxTextTop{
	border-top: 1.25px solid black;
}

 .container .boxTextTop section{
	display:flex;
	width: 48%;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1.75rem;
	margin-top: 4%;
	margin-bottom: 4%;
}

img.middle-img {
	width: 100%;
}


.container .boxTextBottom section{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
width: 33%;
font-size: 1.75rem;
margin-top: 4%;
margin-bottom: 4%;
}
.container .boxTextBottom{
	border-bottom: 1.25px solid black;
}


.contact-section {
	display:flex;
	flex-direction: column;
	font-size: 1.75rem;
	padding-top: 5%;
}

.contact-section address {
	padding-bottom: 15%;
}

.contact-section .phoneNumber{
	padding-bottom: 15%;
}

footer  {
	margin: 15% 0% 0% 30%;
	font-family: 'Oswald', sans-serif;
	padding: 5% 0;
	font-size: 1.75rem;

}

