
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-size: 10px;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	background: yellow;
}

body {
	margin: 0 5%;
}

header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:85%;
	padding-top: 2.75%;
	background:white;
}



header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	margin-top: 2%;
	font-size: 2.0rem;
	font-family: 'Oswald', sans-serif;
	background: rgba(5, 59, 235, 0.7);
	border-bottom: 1px solid light;

}

header nav a {
	text-decoration: none;
	color: white;
}

header img.logo {
	padding-top: 3.25%;
	background: purple;
}

.innovate {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom:5%;
	background: red;
}

.innovate section {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 6.0%;
}

.innovate section h1 {
	font-size: 9rem;
	text-align: center;
}

.innovate section button{
	border: 1.10px solid black;
	background-color: white;
	color: black;
	padding: 3% 12%;
	font-size: 1em;
	cursor: pointer;
	
}


.container .roundCode {
	display:flex;
	width: 30%;
	height: 15%;
	margin-top: 3%;
	margin-left: 10%;
	background: blue;
}

.container .boxTextTop{
	border-top: 1px solid black;
}

 .container .boxTextTop section{
	display:flex;
	width: 49%;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 35px;
}

img.middle-img {
	width: 80%;
}


.container .boxTextBottom section{
display:flex;
flex-wrap: wrap;
width: 33%;
margin-top: 35px;
margin-bottom: 35px;
}
.container .boxTextBottom{
	border-bottom: 1px solid black;
}


.contact-section {
	display:flex;
	flex-direction: column;
	padding-top: 35px;
}

.contact-section address {
	padding-bottom: 20px;
}

.contact-section .phoneNumber{
	padding-bottom: 20px;
}

footer  {
	margin: 200px 0px 0px 200px;
	font-family: 'Oswald', sans-serif;
	padding: 35px 0;

}

